body {
	background-color: tan;
	text-align: center;
}

h1 {
	font-family: Open Sans, serif;
	font-size: 34px;
	color: green;
}

#hack {
	font-family: Open Sans, sans-serif;
	font-size: 22x;
}

footer>p {
	font-size: 14px;
	font-family: Open Sans, sans-serif;
}

a {
	text-decoration: none;
	color: green;
}

button {
	font-family: Inconsolata, sans-serif;
	font-weight: bold;
	color: green;
	box-shadow: 2px 2px 2px black;
}
button.onclick {
	background-color: white;
}